[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-cas = "*"
python-dotenv = "*"
requests = "*"
gunicorn = "*"
pytz = "*"

[requires]
python_version = "3.8"
