{% extends "layout.html" %}
{% block content %}
<h1 class="rpi-page-title">Join Server</h1>
{% if is_logged_in %}
<p class="rpi-h2">You are logged in as <strong>{{ username }}@rpi.edu</strong> <a href="/cas/logout">(Logout)</a></p>
{% else %}
<p class="rpi-h2">You are joining the server as an external (non-RPI) user. If you are a student/faculty please <a href="/cas/login">Login with CAS</a>.</p>
{% endif %}
<form method="POST" style="margin-top: 2rem;">
    <div class="field">
        <label class="rpi-label" for="first-name">First Name</label>
        <input class="rpi-input" value="{{ user['first_name'] }}" type="text" name="first_name" id="first-name"
            placeholder="Your given name or nickname" maxlength="20" required>
    </div>

    <div class="field">
        <label class="rpi-label" for="last-name">Last Name</label>
        <input class="rpi-input" value="{{ user['last_name'] }}" type="text" name="last_name" id="last-name"
            placeholder="Your family name" required>
    </div>

    {% if is_logged_in %}
    <div class="field">
        <label class="rpi-label" for="grad-year">Graduation Year</label>
        <input class="rpi-input" value="{{ user['graduation_year'] }}" type="number" name="graduation_year"
            id="grad-year" min="2000" max="2038" placeholder="What year will you graduate?" required>
    </div>
    {% endif %}
    
    <div class="field">
        <label class="rpi-label" for="timezone">Timezone</label>
        <select name="timezone" id="timezone" class="rpi-input" required>
            <option value="America/New_York">America/New_York</option>
            {% for tz in timezones %}
            <option value="{{ tz }}" {% if tz==user['timezone'] %}selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
    </div>

    <p>
        By connecting your account, you agree with <a href="https://discord.com/privacy" target="_blank">Discord's
            Privacy Policy</a> and <a href="https://handbook.rcos.io/#/overview/code_of_conduct" target="_blank">RCOS's
            Code of Conduct</a> and
        want
        to use your Discord account on a monitored, school server. You can always use a separate Discord account for
        academic
        use to hide your name, game activity, Spotify, etc. if desired but it's not necessary.
    </p>
    <button class="rpi-button is-fullwidth">Connect Discord Account</button>
</form>
{% endblock %}